
<h1>Web18-09</h1>



<table>
  <tr>
    <th class="first">Problem Set</th>
    <th>Topic</th>
    <th class="last">Link to Solution</th>
    <th>Special Thanks</th>
  </tr>
  <tr>
    <td>PS1</td>
    <td><strong>Divide-by-zero</strong>
      <p>Q:How to get your server in production mode to output a stack trace to the browser
        A: In configure file of our applicaiotn path configure/environments/ file production.rb then edit value of configure "config.consider_all_requests_local" from false value to true value. Restart your server to see it effect.</p>

      <p>Q:How to write code that generates a divide-by-zero exception
        A: we simple setup one method of numberic division. this method division of number 10 divide by zero. after call this method divide zero exception will occur. We have logged a message “About to divide by 0” before the method will be called.</p>

    </td>
    <td><%= link_to "Divdie by Zero", :controller => :ps1, :action => :dzero %>
<!--    <td><%#= link_to "Divdie by Zero", ps1_dzero_path %>-->
    </td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td><strong>Google News</strong> <p>HTML parser from news.google.com</p>
      <p>Our Approach</p>
      <ul>
        <li>Search which method is best for us either fetch by ourself or from API</li>
        <li>We both new in RoR, so we have tired both</li>
        <li>Then we think doing HTML parser is will work for us. We choose this method</li>
        <li>In Rails we fetch html from specific URL, do business logic in controller, then parse it. we form 2D array to keep all data that we have extract</li>
        <li>Then we rende out in view</li>
      </ul>
    </td>
    <td><%= link_to "Google News", :controller => :ps1, :action => :gnews %></td>
<!--    <td><%#= link_to "Google News", ps1_gnews_path %></td>-->
    <td><%= link_to "http://ruby.bastardsbook.com/chapters/html-parsing/
", "http://ruby.bastardsbook.com/chapters/html-parsing/", target: "_blank" %></td>
  </tr>
</table>