<%= form_with(model: comment, local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :commenttext %>
    <%= form.text_field :commenttext %>
  </div>


  <div class="field">
    postid<%= @postid %>
    <%= form.hidden_field :post_id, value: @postid %>

  </div>
  <div class="field">
    Userid<%= current_user.id %>
    <%= form.hidden_field :user_id, value: current_user.id %>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
