<%= form_with(model: post, local: true, id: "new_post") do |form| %>
  <%# if post.errors.any? %>
  <!--    <div id="error_explanation">-->
  <!--      <h2><%#= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>-->

  <!--      <ul>-->
  <%# post.errors.full_messages.each do |message| %>
  <!--          <li><%#= message %></li>-->
  <%# end %>
  <!--      </ul>-->
  <!--    </div>-->
  <%# end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :cost %>
    <%= form.text_field :cost %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude %>
  </div>

  <div class="field">
    <%= form.label :contactname %>
    <%= form.text_field :contactname %>
  </div>

  <div class="field">
    <%= form.label :apartmentorroom %>
    <%#= form.text_field :apartmentorroom %>
    <%= form.select :apartmentorroom, categories %>
  </div>

  <div class="field">
    <%= form.label :numberofroom %>
    <%= form.number_field :numberofroom %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>
  <div class="field">
<!--    Userid<%#= current_user.id %>-->
    <%= form.hidden_field :user_id, value: current_user.id %>
    <div class="field">
      <%= form.label :image %><br/>
      <%= form.file_field :image %>
    </div>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
