<% if @user.isbanned == false %>
  <p id="notice"><%= notice %></p>
  <% if current_user.isadmin == true %>
    <% controller.redirect_to admin_index_path %>
  <% else %>

    <h1>Posts</h1>
    <div class="post">
    <table>
      <thead>
      <tr>
        <th>Image</th>
        <th colspan="3"></th>
        <th>Title</th>
        <th colspan="3"></th>
        <th>Address</th>
        <th colspan="3"></th>
        <th>Cost</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @posts.each do |post| %>
        <% if post.isapproved == true %>
          <tr>
            <td><%= image_tag post.image.url(:thumb) %></td>
            <th colspan="3"></th>
            <td><%= post.title %></td>
            <th colspan="3"></th>
            <td><%= post.address %></td>
            <th colspan="3"></th>
            <td><%= post.cost %></td>
            <th colspan="3"></th>
            <td><%= link_to 'Show', post %></td>
            <% if current_user.id == post.user_id %>
              <td><%= link_to 'Edit', edit_post_path(post) %></td>
              <th colspan="3"></th>
              <td><%= link_to 'Destroy', post, method: :delete, data: {confirm: 'Are you sure?'} %></td>
              <th colspan="3"></th>
            <% end %>
          </tr>
        <% end %>
      <% end %>
      </tbody>

    </table>

    </div>
    <%= will_paginate @posts %>
    <br>

    <%= link_to 'New Post', new_post_path %>
  <% end %>
<% else %>
<% end %>

<%= form_tag posts_path, method: "get" do %>
  <%= label_tag(:post, "Search: ") %>
  <%= text_field_tag(:post) %>
  <%= submit_tag("Search") %>
<% end %>