<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @post.address %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @post.cost %>
</p>

<p>
  <strong>Email:</strong>
  <%= @post.email %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @post.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @post.longitude %>
</p>

<p>
  <strong>Contactname:</strong>
  <%= @post.contactname %>
</p>

<p>
  <strong>Apartmentorroom:</strong>
  <%= @post.apartmentorroom %>
</p>

<p>
  <strong>Numberofroom:</strong>
  <%= @post.numberofroom %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @post.phone %>
</p>
<%# if @post.user_id == @user.id %>
<%#= link_to 'Edit', edit_post_path(@post) %>
<!--  <br>-->
<%# end %>
<%#= link_to 'Back', posts_path %>

<h3>Comments</h3>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Comment</th>
  </thead>
  <tbody>
  <% @post.comments.each do |comments| %>
    <tr>
      <td><%= comments.user_id %></td>
      <td><%= comments.commenttext %></td>
      <% if current_user.id == comments.user_id %>
        <td><%= link_to 'Edit', edit_comment_path(comments) %></td>
        <td><%= link_to 'Destroy' %></td>
        <br>
      <% end %>


    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "Add new comment", new_comment_path(post_id: @post.id) %>

