<h1><strong>Group 9 (Web 18-09)</strong></h1>
<br><br>

<h2>Group Members</h2>
<br>
<h3>1. Abhishek Koirala</h3>

<h3>2. Part Jaithong</h3>
<br>
<div id="container">
  <div class="boxed">
    <ul>
      <li><h2><%= link_to "Problem Set 1", ps1_index_path %></h2></li>
      <li><h2><%= link_to "Problem Set 2", :controller => :ps2, :action => :quotations %></h2></li>
      <li><h2><%= link_to "Problem Set 3", ps3_index_path %></h2></li>
    </ul>
  </div>
</div>