<%= form_with(model: quotation, local: true) do |form| %>
  <% if quotation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quotation.errors.count, "error") %> prohibited this quotation from being saved:</h2>

      <ul>
        <% quotation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :author_name %>
    <%= form.text_field :author_name %>
  </div>



  <div class="field">
    <%= form.label :category_new %>
    <%= form.text_field :category_new %>

  </div>

  <div class="field">
    <%= form.collection_select :category, Quotation.groups ,:category, :category %>
  </div>



  <div class="field">
    <%= form.label :quote %>
    <%= form.text_area :quote %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
