<p id="notice"><%= notice %></p>

<h1>Quotations</h1>

<table>
  <thead>
  <tr>
    <th>Author name</th>
    <th>Category</th>
    <th>Quote</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @quotations.each do |quotation| %>
    <tr>
      <td><%= quotation.author_name %></td>
      <td><%= quotation.category %></td>
      <td><%= quotation.quote %></td>
      <td><%= link_to 'Show', quotation %></td>
      <td><%= link_to 'Edit', edit_quotation_path(quotation) %></td>
      <td><%= link_to 'Destroy', quotation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quotation', new_quotation_path %>
