<h3>Export Quotations</h3>

<p><%= link_to "Export as XML format", ps2_quotations_path(format: "xml") %> | <%= link_to "Export as JSON format", ps2_quotations_path(format: "json") %>
</p>


<hr>
<%= link_to 'Back', ps2_quotations_path %>
