<h3>Import Quotations</h3>



<p>please paste xml</p>
<%= form_tag(ps2_importquote_path, method: :post) do %>
  <p><%= text_area_tag :file, params[:file] %></p>
  <p><%= submit_tag 'Import XML', name: nil %></p>
<% end %>



<hr>

<%= link_to 'Back', ps2_quotations_path %>
