<p id="notice"><%= notice %></p>

<p><%= link_to "Erase My Personalize", :controller => :ps2,:action => :delete_cookies %> | <%= link_to "Import Quote", :controller => :ps2,:action => :import %> | <%= link_to "Export Quote", :controller => :ps2,:action => :export %>

</p>

<hr/>

<h3>Search quote</h3>
<%= form_tag(quotations_path, method: :get) do %>
  <%= text_field_tag :term, params[:term] %>
  <%= submit_tag 'Search', name: nil %>
<% end %>

<hr/>

<h3>Quotations</h3>



<ul>
  <% for quotation in @quotations %>
    <li><p><%= h quotation.author_name %>: <%= h quotation.quote %></p> <%= button_to "Don't Show Me", :controller => :ps2, :action => :set_cookies, :id => quotation.id %></li>
  <% end %>
</ul>
<br/>
<% if params[:sort_by] == "date" %>
  <%= link_to "Sort by category", :action => :quotations, :sort_by => :category %>
<% else %>
  <%= link_to "Sort by date", :action => :quotations, :sort_by => :date %>
<% end %>
<hr/>



<!--%= @cookies %-->


<h3>New quotation</h3>

<%= link_to "Create Quote", new_quotation_path %>
<br><br><br>
<%= link_to "View SQL Queries", root_path+"database.sql" %>
<br><br>
<%= link_to "View Queries_i_like", root_path+"queries_i_like.txt" %>
<br><br>
<%= link_to "View Sample Data(data.txt)", root_path+"data.txt" %>
<br>
