<h1>Problem Set 3</h1>
<br>
<h3><%= link_to "Project proposal", root_path+"placeb.pdf" %></h3>
<br>
<h3><%= link_to "Database dump", root_path+"dump.txt" %></h3>

<br>

<h3><%= link_to "Trello", "https://trello.com/b/mN1DJHrD/wea-web9" %></h3>
<br>
<h3><%= link_to "Jenkins", "http://209.97.161.2:8080/login?from=%2F" %></h3>
<br>

<h3><%= link_to "Project(Rent Listings)",:controller => :posts, :action => :index %></h3>




