<p id="notice"><%= notice %></p>
<%= link_to "Sign out", destroy_user_session_path, method: :delete %>

<h1>Posts</h1>


<table>
  <thead>
  <tr>
    <th>Posttext</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.posttext %></td>
      <td><%= link_to 'Show', post %></td>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <td><%= link_to 'Destroy', post, method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>

<br>
<% if current_user.role.name == "Admin" %>
  <% if current_user.banstatus == "false" %>
    <h1>Users</h1>


    <table>
      <thead>
      <tr>
        <th>Email</th>
        <th colspan="3"></th>
        <th>Name</th>
        <th colspan="3"></th>
        <th>Role</th>
      </tr>
      </thead>

      <tbody>
      <% @users.each do |post| %>
        <tr>
          <td><%= post.email %></td>
          <td colspan="3"></td>
          <td><%= post.name %></td>
          <td colspan="3"></td>

          <td><%= post.role.name %></td>
          <!--      <td><%#= link_to 'Edit', edit_post_path(post) %></td>-->
<!--          <td><%#= link_to 'Ban', posts_banuser_path %></td>-->
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>