<h1>Admin DashBoard</h1>


<h2>All Users list</h2>

<table>
  <thead>
  <tr>
    <th>Username</th>
    <th colspan="3"></th>
    <th>Name</th>
    <th colspan="3"></th>
    <th>Email</th>
    <th colspan="3"></th>
    <th>IsAdmin</th>
    <th colspan="3"></th>
    <th>IsBanned</th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.username %></td>
      <td colspan="3"></td>
      <td><%= user.name %></td>
      <td colspan="3"></td>
      <td><%= user.email %></td>
      <td colspan="3"></td>
      <td><%= user.isadmin %></td>
      <td colspan="3"></td>
      <td><%= user.isbanned %></td>

      <% if user.isbanned == false %>
        <% if user.id != current_user.id %>
          <td colspan="3"></td>
          <td><%= link_to 'Ban User', admin_ban_path(userid: user.id) %></td>
        <% end %>
      <% else %>
        <td colspan="3"></td>
        <td><%= link_to 'Unban User', admin_unban_path(userid: user.id) %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<br><br><br>
<h2>User Statistics</h2>
<ul>
  <li><h4>Number of User registered this month : <%= @lastthirtydays %></h4></li>
  <li><h4>Number of banned user : <%= @count %></h4></li>
</ul>

<br>

<h2>Approval waiting posts</h2>
<table>
  <thead>
  <tr>
    <th>Title</th>
    <th colspan="3"></th>
    <th>IsApproved</th>
  </tr>
  </thead>

  <tbody>
  <% @post.each do |post| %>
    <% if post.isapproved == false %>
      <tr>
        <td><%= post.title %></td>
        <td colspan="3"></td>
        <td><%= post.isapproved %></td>
        <td colspan="3"></td>
        <td><%= link_to 'Approve post', admin_approve_path(postid: post.id) %></td>
        <td colspan="3"></td>
        <td><%= link_to 'Reject post', admin_deletepost_path(postid: post.id) %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<br>

<h2>View all posts</h2>
<table>
  <thead>
  <tr>
    <th>Title</th>
    <td colspan="3"></td>
    <th>Address</th>
    <td colspan="3"></td>
    <th>Cost</th>
  </tr>
  </thead>

  <tbody>
  <% @post.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td colspan="3"></td>
      <td><%= post.address %></td>
      <td colspan="3"></td>
      <td><%= post.cost %></td>
      <td colspan="3"></td>

      <td><%= link_to 'Show', post %></td>
      <td colspan="3"></td>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <!--      <td><%#= link_to 'Destroy', post,  :controller => "post", :action => 'destroy', :id => post.id, :confirm => "Are you sure you want to delete", :method => :delete %></td>-->
    </tr>

  <% end %>
  </tbody>
</table>





