<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br/>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :username %><br/>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :address %><br/>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :phone %><br/>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :sex %><br/>
    <%#= f.text_field :sex %>
    <%= f.select :sex, gender_lists %>
  </div>
  <div class="field">
    <%= f.label :occupation %><br/>
    <%= f.text_field :occupation %>
  </div>
  <div class="field">
    <%= f.label :annualincome %><br/>
    <%= f.text_field :annualincome %>
  </div>
  <div class="field">
    <%= f.label :dob %><br/>
    <%= f.text_field :dob %>
  </div>
  <div class="field">
    <%= f.label :maritalstatus %><br/>
    <%= f.select :maritalstatus, marital_status %>
  </div>

  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
