<!DOCTYPE html>
<html>
<head>
  <title>Web9project</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<% if flash[:error] %>
  <div id="error">
    <%= flash[:error] %>
  </div>
<% end %>
<div id="container">
  <%= link_to "Forum", simple_discussion_path %>
  <div id="user_status">
    <% if user_signed_in? %>

      <% if current_user.isbanned == true %>
        <p>You are banned. Please contact administrator</p>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      <% else %>
        Welcome <%= current_user.email %>! Not you?
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %>

        <%= image_tag current_user.image.url(:thumb) %>
      <% end %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path %> or
      <%= link_to "Sign in", new_user_session_path %>.
    <% end %>
  </div>
  <%= yield %>
</div>
</body>
</html>
